{% extends "email/base/base_en.html" %}

{% block title %}
  EPR Registration Tool | Your account data changed
{% endblock %}

{% block preheader %}
  Your account's data has recently been changed.
{% endblock %}

{% block heading %}
  The data associated with your account was recently changed.
  If you have requested these changes you can safely ignore this email.
  If you find this behavior suspicious, please check your data and change your password.
{% endblock %}

{% block linktext %}
  log in now and check data
{% endblock %}