[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# django
django = "~=4.2.15"
django-environ = "~=0.8"
psycopg2 = "~=2.9"
# django testing
model-bakery = "*"
# api
strawberry-graphql-django = "~=0.2"                                   # Graphql library
strawberry-graphql = {extras = ["debug-server"], version = "~=0.193"} # Django plugin for strawberry
# security
django-cors-headers = "~=3.12"                                        # Cross-Origin-Request headers
django-axes = "*"                                                     # Prevent brute-force attacks
# deployment
gunicorn = "~=22.0"
whitenoise = "~=6.0"
# other
django-ses = "~=3.5"                                                  # AWS SES mailing
sentry-sdk = "~=1.14"                                                 # Loggin / Reporting
ambient-toolbox = "~=9.4.0"                                           # Various useful helper functions
pyyaml = "*"                                                          # To be able to load yaml fixtures
django-modeltranslation = "~=0.18"                                    # Handle translations in Django-Admin
django-ai-kit-auth = "~=2.0"                                          # Provides helper functions for auth
djangorestframework = "~=3.13"                                        # Required by django-ai-kit-auth
time-machine = "~=2.7"                                                # Override system time for running tests with fixed date
weasyprint = "~=55.0"                                                 # For creating PDFs
django-storages = "~=1.12"                                            # Custom storage backends for Django
boto3 = "~=1.24"                                                     # AWS S3 connector
wagtail = "~=5.0"
wagtail-localize = "~=1.6"                                            # Multi lang support for Wagtail
wagtail-headless-preview = "~=0.7.0"                                    # Enable wagtail preview via REST
beautifulsoup4 = "*"
coverage = "~=6.4"                                                    # to create coverage report
unittest-xml-reporting = "~=3.0"                                      # Tool for analyzing code coverage in CI pipeline

[dev-packages]
flake8 = "~=4.0"
pep8-naming = "~=0.12"
black = "~=22.3"
isort = "~=5.10"
django-debug-toolbar = "~=3.4"

[requires]
python_version = "3.9"
