{% extends "email/base/base_ar.html" %}

{% block title %}
  مرحبًا بك في أداة تسجيل EPR | يرجى تأكيد عنوان البريد الإلكتروني الخاص بك
{% endblock %}

{% block preheader %}
  يرجى تأكيد عنوان البريد الإلكتروني الخاص بك
{% endblock %}

{% block heading %}
  يرجى تأكيد عنوان بريدك الإلكتروني أدناه لمتابعة إنشاء حسابك الجديد.
{% endblock %}

{% block linktext %}
  قم بتأكيد عنوان البريد الإلكتروني الخاص بي
{% endblock %}

{% block info %}
  <p>
    تتطلب أداة تسجيل EPR عنوان بريد إلكتروني تم التحقق منه للاستفادة من جميع ميزات إعداد التقارير.
     أيضًا ، يساعد عنوان البريد الإلكتروني الذي تم التحقق منه في استرداد الحساب في المستقبل.
  </p>
  <p>
    إذا لم تحاول إنشاء حساب جديد باستخدام عنوان البريد الإلكتروني هذا مؤخرًا ، فيمكنك تجاهل هذا البريد الإلكتروني بأمان.
  </p>
{% endblock %}
