{% extends "email/base/base_ar.html" %}

{% block title %}
    أداة تسجيل EPR | يرجى تأكيد عنوان بريدك الإلكتروني الجديد
{% endblock %}

{% block preheader %}
    يرجى تأكيد عنوان بريدك الإلكتروني الجديد
{% endblock %}

{% block heading %}
تم مؤخرًا تغيير عنوان البريد الإلكتروني المتعلق بحسابك.
لن يتم تغيير عنوان بريدك الإلكتروني إلى عند التأكيد. بمجرد التأكيد ،
سيتم إرسال جميع رسائل البريد الإلكتروني المستقبلية الصادرة من نظام تسجيل EPR (مثل الإشعارات المتعلقة بجميع النشاطات) إلى هذا العنوان
{% endblock %}

{% block linktext %}
    يرجى تأكيد عنوان بريدك الإلكتروني الجديد
{% endblock %}

{% block info %}
    <p>
        إن لم تقم بتغيير عنوان بريدك الإلكتروني مؤخرًا ، فيمكنك تجاهل هذا البريد الإلكتروني .
    </p>
{% endblock %}
