{% extends "email/base/base_ar.html" %}

{% block title %}
    مرحبًا بك في أداة تسجيل EPR | يرجى تأكيد عنوان بريدك الإلكتروني الجديد
{% endblock %}

{% block preheader %}
    يرجى تأكيد عنوان بريدك الإلكتروني الجديد
{% endblock %}

{% block heading %}
    يرجى تأكيد عنوان بريدك الإلكتروني الجديد أدناه للمتابعة.
{% endblock %}

{% block linktext %}
    قم بتأكيد عنوان بريدك الإلكتروني الجديد
{% endblock %}

{% block info %}
    <p>
        إذا لم تكن قد طلبت تغيير بريدك الإلكتروني مؤخرًا ، فيمكنك تجاهل هذا البريد الإلكتروني بأمان.
    </p>
{% endblock %}
