{% extends "email/base/base_en.html" %}

{% block title %}
  New company registration | EPR Registration Tool
{% endblock %}

{% block preheader %}
  Your action is required to complete the registration
{% endblock %}

{% block heading %}
  A newly registered company is waiting for activation.
{% endblock %}

{% block linktext %}
  Check and confirm
{% endblock %}

{% block info %}
  <p>
    Newly registered companies must be confirmed by a staff member.
    Before that the company will not be able to log into their account and create reports.
  </p>
{% endblock %}
