{% extends "email/base/base_ar.html" %}

{% block title %}
    أداة تسجيل EPR| تم تغيير بيانات الشركة المرتبطة بحسابك مؤخرً
{% endblock %}

{% block preheader %}
   تم تغيير بيانات الشركة المرتبطة بحسابك مؤخرً.
{% endblock %}

{% block heading %}

    تم تغيير بيانات الشركة المرتبطة بحسابك مؤخرًا.
    إذا طلبت هذه التغييرات ، يمكنك تجاهل هذا البريد الإلكتروني.

    إذا  شعرت أن البريد الإلكتروني  الوارد مشبوهاً، يرجى التحقق من بياناتك وتغيير كلمة السر الخاصة بك.
{% endblock %}

{% block linktext %}
   سجل الدخول الآن وتحقق من البيانات
{% endblock %}
