{% extends "email/base/base_ar.html" %}

{% block title %}
أداة تسجيل EPR | يرجى تأكيد عنوان البريد الإلكتروني الخاص بك
{% endblock %}

{% block preheader %}
    مرحبًا بك في نظام تسجيل EPR
{% endblock %}

{% block heading %}
    يرجى تأكيد عنوان بريدك الإلكتروني أدناه لمتابعة إنشاء حسابك الجديد.
{% endblock %}

{% block linktext %}
    قم بتأكيد عنوان البريد الإلكتروني الخاص بي
{% endblock %}

{% block info %}
    <p>
        يتطلب نظام تسجيل EPR عنوان بريد إلكتروني تم التحقق منه و ذلك للتمكن من استخدام جميع ميزات إعداد التقارير.
        اضافة الى ذلك ، يساعد عنوان البريد الإلكتروني الذي تم التحقق منه في استرداد الحساب في المستقبل.

        إن لم تحاول إنشاء حساب جديد باستخدام هذا البريد الإلكتروني مؤخرًا ، فيمكنك تجاهل هذه الرسالة.

    </p>
    <p>

        تم إرسال هذا الإشعار إلى عنوان البريد الإلكتروني المرتبط بحساب نظام تسجيل EPR الخاص بك.
        يرجى عدم الرد على هذا البريد الإلكتروني الذي تم إنشاؤه تلقائيًا.
    </p>
{% endblock %}
