.wiki {
  --max-text-width: 700px;
  --max-img-width: 800px;
  --max-img-width-sm: 500px;
  --color-dark-gray: #4c4c4c;

  h2, h3, h4, p, table, dl, ul, ol {
    max-width: var(--max-text-width);

  }

  p {
    padding: 10px;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 20px;

    padding: 5px;
    color: var(--color-dark-gray);
    border-bottom: 2px dotted var(--color-dark-gray);

    &:first-child {
      margin-top: 0;
    }

    &:not(:first-of-type):before {
      content: '→';
    }
  }

  h3 {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;

    &:before {
      content: '↪';
    }
  }

  h4 {
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 20px;

    &:before {
      content: '↪↪';
    }
  }

  strong {
    font-weight: bold;
  }


  dl {
    display: inline-grid;
    //grid-template-columns: auto auto;
    align-items: center;
    column-gap: 10px;

    border-left: 10px solid var(--darkened-bg);
    padding-left: 10px;

    &.dt-aligned-right {
      dt {
        margin: 0;
        text-align: right;
      }
    }

    dd {
      margin-left: 16px;
    }
  }

  a {
    &:before {
      content: '🔗';
    }
  }
}