{% extends "email/base/base_ar.html" %}

{% block title %}
يرجى إعادة ضبط كلمة السر الخاصة بك | أداة تسجيل EPR

{% endblock %}

{% block preheader %}
يرجى إعادة ضبط كلمة المرور الخاصة بك
{% endblock %}

{% block heading %}
تم تقديم طلب لتغيير كلمة سر EPR الخاصة بك. إن لم تقم بطلب ذلك ، يمكنك تجاهل هذا البريد الإلكتروني.
إذا كنت قد قدمت هذا الطلب ، يرجى تغيير كلمة السر الخاصة بك.
{% endblock %}

{% block linktext %}
إعادة تعيين كلمة المرور
{% endblock %}


{% block info %}
    <p>
      تم إرسال هذا الإشعار إلى عنوان البريد الإلكتروني المرتبط بحساب EPR الخاص بك.
يرجى عدم الرد على هذا البريد الإلكتروني الذي تم إنشاؤه تلقائيًا.
    </p>
{% endblock %}


