{% extends "email/base/base_ar.html" %}

{% block title %}
    أداة تسجيل EPR | تغيرت بيانات حسابك
{% endblock %}

{% block preheader %}
    تم تغيير بيانات حسابك مؤخرًا.
{% endblock %}

{% block heading %}
    البيانات المتعلقة بحسابك تم تغييرها مؤخرًا.
    إذا قمت بطلب هذه التغييرات ، يمكنك تجاهل هذا البريد الإلكتروني .
    إذا  شعرت أن البريد الإلكتروني  الوارد مشبوهاً، يرجى التحقق من بياناتك وتغيير كلمة السر الخاصة بك.

{% endblock %}

{% block linktext %}
    سجل الدخول الآن وتحقق من البيانات
{% endblock %}