.alert {
  padding: 10px 15px;
  background: #dde0e7;
  max-width: 500px;
  border-radius: 5px;

  display: flex;
  align-items: center;

  margin: 15px auto 10px auto;

  &__icon {
    font-size: 1.5em;
    margin: 0 15px 0 0;
  }

  &--warn {
    background: #ecad40;
    color: #F3F4F6;

    .alert__icon:before {
      content: '⚠️';
    }
  }

    &--info {
    background: #0288D1;
    color: #F3F4F6;

    .alert__icon:before {
      content: '🔔';
    }
  }

}





