{% extends 'email/base/base.html' %}

{% block lang %}ar{% endblock %}

{% block dir %}rtl{% endblock %}

{% block btn_align %}right{% endblock %}

{% block salutation %}{{ user.display_name }} عزيزي/عزيزتي {% endblock %}

{% block alternative_link_info %}
  بدلاً من ذلك ، يمكنك نسخ / لصق الرابط التالي في متصفحك:
{% endblock %}

{% block footer_title %}
  أداة تسجيل EPR
{% endblock %}

{% block disclaimer %}
  تم إرسال هذا الإخطار إلى عنوان البريد الإلكتروني المرتبط بحساب EPR الخاص بك.
   يرجى عدم الرد على هذا البريد الإلكتروني الذي تم إنشاؤه تلقائيًا.
{% endblock %}